
body {
  background: linear-gradient(to right, #f3e7e9, #e3eeff);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 40px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #ffffffee;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #4A4A88;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #4A4A88;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3c3c72;
}

#registro {
  margin-top: 20px;
  background-color: #f0f8ff;
  padding: 15px;
  border-radius: 8px;
}

#productos {
  display: flex;
  gap: 20px; /* Espacio entre los elementos */
  justify-content: center; /* Centra los elementos en horizontal */
  flex-wrap: wrap; /* Evita que se salgan y los coloca abajo si no caben */
  padding: 20px;
  border: 2px solid  #fffbe6;
  background-color: #f9f9f9;
  border-radius: 10px;
}


#productos div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#carrito {
  width: 330px;
  margin: 20px auto;
  border: 2px dashed  #fffbe6;
  padding: 10px;
  background-color: #fffbe6;
  border-radius: 8px;
  list-style-type: none;
}


#totalCompra {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #2a2a2a;
}



