.titulo-menu {
  text-align: center;
  font-weight: bold;
  color: #744407;
  font-size: 2rem;
  margin: 2rem 0;
}

.titulo2 {
  text-align: center;
  font-weight: bold;
  color: #744407;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}